.title {
  margin: 0;
  font-family: "Manrope-600", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: -0.01em;
  color: #0347ae;

  &--color {
    color: #FFFFFF;
  }
}
