.about {
  background-color: #FAFAFA;
}

.about__container {
  // padding: 24px 20px;
}

.about__image {
  margin: 0 0 30px;
}

.about__title {
  margin: 0 0 16px;
}

.about__description {
  margin: 0 0 24px;
}

.about__button {
  width: 276px;
  height: 46px;
}
