@use "../common/variables.scss";

.about {
  background-color: #fafafa;
  padding: 24px 0;
  margin: 0 0 40px;

  @media (min-width: variables.$desktop-width) {
    padding: 32px 0;
    margin: 0 0 48px;
  }

  &--background-color {
    background-color: inherit;
  }
}

.about__container {
  @media (min-width: variables.$desktop-width) {
    display: flex;
    align-items: center;
  }
}

.about__picture {
  display: contents;
  width: 100%;
}

.about__image {
  margin: 0 0 30px;
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: 16px;

  @media (min-width: variables.$desktop-width) {
    flex-shrink: 0;
    order: 1;
    margin: 0;
    width: 582px;
  }
}

.about__wrapper {
  margin-right: 30px;
}

.about__title {
  margin: 0 0 16px;
}

.about__description {
  margin: 0 0 24px;
}

.about__button {
  width: 276px;
  height: 46px;
}
