.address {
  font-style: normal;
  line-height: 22px;
}

.address__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  column-gap: 32px;

  &--direction {
    flex-direction: column;
    row-gap: 16px;
  }

  &--color {
    color: #ffffff;
  }
}

.address__item {
  display: flex;
  column-gap: 16px;
  align-items: center;

  &::before {
    content: "";
    width: 24px;
    height: 24px;
    display: block;
    background: no-repeat center;
    flex-shrink: 0;
  }

  &--map {
    &::before {
      background-image: url("../../icons/map.svg");
    }
  }

  &--clock {
    &::before {
      background-image: url("../../icons/clock.svg");
    }
  }

  &--tel {
    &::before {
      background-image: url("../../icons/tel.svg");
    }
  }

  & p {
    margin: 0;
  }

  &--color.address__item--map {
    color: #ffffff;

    &::before {
      background-image: url("../../icons/map-white.svg");
    }
  }

  &--color.address__item--clock {
    color: #ffffff;

    &::before {
      background-image: url("../../icons/clock-white.svg");
    }
  }

  &--color.address__item--tel {
    color: #ffffff;

    &::before {
      background-image: url("../../icons/tel-white.svg");
    }
  }
}


.address__eye {
  display: flex;
  column-gap: 16px;
  align-items: center;

  &::before {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    background: url("../../icons/eye.svg") no-repeat center;
  }

  &.address__eye--color {
    &::before {
      background-image: url("../../icons/eye-white.svg");
    }
  }
}

.address__eye-text {
  color: #ffffff;

  &--hidden {
    display: none;
  }
}
