@use "../common/variables.scss";

.advantages {
  margin: 0 0 40px;

  @media (min-width: variables.$desktop-width) {
    margin: 0 0 48px;
  }
}

.advantages__title {
  margin: 0 0 24px;
}

.advantages__list {
  margin: 0 0 40px;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  row-gap: 24px;

  @media (min-width: variables.$desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    margin: 0 0 48px;

    &::after {
      content: "";
      background: url("../../images/dark-tooth.png") no-repeat center;
      width: 276px;
      width: 100%;
      background-size: cover;
      border-radius: 16px;
      grid-column: 3 / 4;
      grid-row: 1 / 3;
    }
  }
}

.advantages__item {
  box-shadow: 0 2px 9px 1px rgba(0, 0, 0, 0.1);
  border-radius: 16px;

  @media (min-width: variables.$desktop-width) {
    width: 428px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.advantages__wrapper {
  padding: 24px 16px 0;
}

.advantages__subtitle {
  margin: 0;
  padding: 0 0 8px;
  border-bottom: 1px solid #333333;
  color: #0347ae;
  font-family: "Manrope-600", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
}

.advantages__description {
  margin: 8px 0 24px;
}

.advantages__image {
  object-fit: cover;
  width: 100%;
  border-radius: 0 0 16px 16px;
}
