@use '../common/variables.scss';

.certificates {
  margin: 0 0 40px;

  @media (min-width: variables.$desktop-width) {
    margin: 0 0 48px;
  }
}


.certificates__title {
  margin: 0 0 16px;
}

.certificates__descritpion {
  margin: 0 0 24px;
}


