@use "../common/variables.scss";


.consultation__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 0 8px;

  @media (min-width: variables.$desktop-width) {
    flex-direction: row;
    align-items: center;
    padding: 0 123px;

    height: 400px;
    justify-content: flex-start;
    width: 100%;
  }
}

.consultation__wrapper {
  padding: 24px 16px;
  box-shadow: 0 2px 9px 1px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  z-index: 1;
  background-color: #ffffff;
  margin: 0 10px;

  @media (min-width: variables.$desktop-width) {
    width: 59.96%;
    margin: 0;
    padding: 32px;
  }
}

.consultation__title {
  margin: 0 0 8px;
}

.consultation__text {
  margin: 0 0 24px;
}

.consultation__form {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.consultation__picture {
  position: relative;
  top: -62px;
  z-index: -1;
  display: flex;
  justify-content: center;
  width: 100%;

  @media (min-width: variables.$desktop-width) {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 52%;
    width: 40%;
  }
}

.consultation__image {
  border-radius: 16px;
  object-fit: cover;
  width: 100%;
}

.consultation__input {
  padding: 7px 38px;
  border: 1px solid #0347ae;
  border-radius: 16px;
  width: 100%;
  font-family: "Manrope-500", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;

  @media (min-width: variables.$desktop-width) {
    width: 345px;
  }

  &::placeholder {
    color: #1a1919;
  }
}

.consultation__button {
  @media (min-width: variables.$desktop-width) {
    width: 345px;
  }
}
