@use "../common/variables.scss";

.header {
  line-height: 21.86px;
}

.header__container {
  padding: 8px 20px;
  display: flex;
  flex-direction: column;
  position: relative;

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #b7b7b7;
    position: relative;
    bottom: -8px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 16px 123px 0;
    border: none;

    &::after {
      display: none;
    }
  }

  &--open {
    background-color: #FFFFFFF2;
  }
}


.header__address {
  display: none;

  @media (min-width: variables.$desktop-width) {
    display: flex;
    justify-content: space-between;
    padding-bottom: 14px;
    border-bottom: 1px solid #b7b7b7;
    margin-bottom: 8px;
  }
}

.header__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__menu-wrapper {
  display: none;

  @media (min-width: variables.$desktop-width) {
    color: #1a1919;
    display: block;
  }
}

.header__mobile-button {
  width: 45px;
  height: 25px;
  background: url('../../images/mobile-button.svg') no-repeat center;

  @media (min-width: variables.$desktop-width) {
    display: none;
  }

  &--open {
    background-image: url('../../images/mobile-button-open.svg');
    width: 34px;
    height: 34px;
  }
}
