@use "../common/variables.scss";

.hero {
  margin: 16px 0 40px;

  @media (min-width: variables.$desktop-width) {
    margin: 24px 0 48px;
    position: relative;
  }
}

.hero__container {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  position: relative;

  @media (min-width: variables.$desktop-width) {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
  }
}

.hero__title {
  margin-bottom: 8px;
  text-transform: uppercase;

  @media (min-width: variables.$desktop-width) {
    line-height: 32px;
    color: #ffffff;
    text-transform: none;
    margin-left: 102px;
  }
}

.hero__description {
  margin: 0;
  line-height: 16px;
  margin-bottom: 16px;

  @media (min-width: variables.$desktop-width) {
    color: #ffffff;
    line-height: 22px;
    margin-left: 102px;
  }
}

.hero__picture {
  display: contents;
}

.hero__image {
  border-radius: 16px;
  object-fit: cover;
  object-position: center 15%;
  width: 100%;
  margin: 0 0 24px;

  @media (min-width: variables.$desktop-width) {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    margin: 0 123px;
    width: calc(100% - 246px);
    // height: 500px;
  }
}

.hero__buttons-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 8px;

  @media (min-width: variables.$desktop-width) {
    flex-direction: row;
    column-gap: 24px;
    margin-left: 102px;
  }
}

.hero__button {
  height: 42px;

  @media (min-width: variables.$desktop-width) {
    height: 46px;
  }
}

.hero__link {
  background-color: #429209;
  padding: 11px 22px;
  border-radius: 16px;
  color: #ffffff;
  text-align: center;

  @media (min-width: variables.$desktop-width) {
    height: 46px;
    width: 243px;
  }
}
