@use "../common/variables.scss";


.implantation__title {
  margin: 0 0 24px;
}

.implantation__list {
  list-style-type: none;
  margin: 0 0 24px;
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 30px;

  @media (min-width: variables.$desktop-width) {
    column-gap: 30px;
    flex-direction: row;
  }
}

.implantation__item {
  @media (min-width: variables.$desktop-width) {
    width: 31.65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // height: 100%;
  }
}

.implantation__image {
  margin: 0 0 24px;
  object-fit: cover;
  border-radius: 16px;
  width: 100%;
}

.implantation__subtitle {
  margin: 0 0 8px;
}

.implantation__text {
  margin: 0 0 24px;
}

.implantation__button {
  width: 276px;

  @media (min-width: variables.$desktop-width) {
    margin-top: auto;
  }
}

.implantation__more-button {
  font-family: "Manrope-600", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.01em;
  text-align: left;
  color: #0347ae;
  background-color: inherit;
  display: flex;
  align-items: center;
  column-gap: 24px;

  &::after {
    content: "";
    width: 48px;
    height: 48px;
    border-radius: 16px;
    background: #0347ae url("../../icons/plus.svg") no-repeat center;
    background-size: 24px;
  }
}
