@use '../common/variables.scss';


.licenses__title {
  margin: 0 0 24px;
}

.licenses__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  column-gap: 30px;
}

.licenses__image {
  box-shadow: 0 2px 9px 0px #00000026;
  border: 1px solid #0347AE;
  border-radius: 16px;
}
