.logo {
  font-family: "Manrope-600", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 21.86px;
  color: #0347ae;
  display: flex;
  column-gap: 16px;
  align-items: center;
  background-color: #ffffff;
}

.logo__description {
  margin: 0;
}
