@use '../common/variables.scss';

.map {
  margin: 0 0 40px;

  @media (min-width: variables.$desktop-width) {
    margin: 0 0 48px;
  }
}

.map__frame {
  border-radius: 32px;

  @media (min-width: variables.$desktop-width) {
    height: 400px;
  }
}
