@use '../common/variables.scss';

.menu-wrapper__list {
  display: flex;
  column-gap: 24px;
}

.menu-wrapper__search {
  display: none;

  @media (min-width: variables.$desktop-width) {
    display: flex;
    column-gap: 24px;
  }
}

.menu-wrapper__input {
  width: 184px;
  height: 38px;
  border-radius: 16px;
  border: 1px solid #0347AE;
  padding: 8px 24px;
  font-family: "Manrope-500";
  font-size: 16px;
  font-weight: 500;
  line-height: 21.86px;
  color: #0347AE;


  &::placeholder {
    color: #0347AE;
    font-family: "Manrope-500";
    font-size: 16px;
    font-weight: 500;
    line-height: 21.86px;
  }
}
