@use '../common/variables.scss';

.page-doctors__promo {
  margin: 16px 0 40px;

  @media (min-width: variables.$desktop-width) {
    margin: 24px 0 48px;
  }
}

.page-services__orthodontics-0 {
  margin: 0 0 40px;

  @media (min-width: variables.$desktop-width) {
    margin: 0 0 48px;
  }
}

.page-services__orthodontics-1 {
  margin: 0 0 40px;

  @media (min-width: variables.$desktop-width) {
    margin: 0 0 48px;
  }
}

.page-services__orthodontics-2 {
  margin: 0 0 40px;

  @media (min-width: variables.$desktop-width) {
    margin: 0 0 48px;
  }
}

.page-services__orthodontics-3 {
  margin: 0 0 40px;

  @media (min-width: variables.$desktop-width) {
    margin: 0 0 48px;
  }
}

.page-services__orthodontics-4 {
  margin: 0 0 40px;

  @media (min-width: variables.$desktop-width) {
    margin: 0 0 48px;
  }
}

.page-services__orthodontics-5 {
  margin: 0 0 40px;

  @media (min-width: variables.$desktop-width) {
    margin: 0 0 48px;
  }
}

.page-services__orthodontics-6 {
  margin: 0 0 40px;

  @media (min-width: variables.$desktop-width) {
    margin: 0 0 48px;
  }
}

.page-services__orthodontics-7 {
  margin: 0 0 40px;

  @media (min-width: variables.$desktop-width) {
    margin: 0 0 48px;
  }
}

.page-services__questions {
  margin: 0 0 40px;

  @media (min-width: variables.$desktop-width) {
    margin: 0 0 112px;
  }
}

.page-services__review {
  margin: 0 0 40px;

  @media (min-width: variables.$desktop-width) {
    margin: 0 0 48px;
  }
}

.page-services__consultation {
  margin: 0 0 40px;

  @media (min-width: variables.$desktop-width) {
    margin: 0 0 48px;
  }
}

.page-services__team {
  margin: 0 0 40px;

  @media (min-width: variables.$desktop-width) {
    margin: 0 0 48px;
  }
}

.page-services__map {
  margin: 0 0 40px;

  @media (min-width: variables.$desktop-width) {
    margin: 0 0 48px;
  }
}
