@use '../common/variables.scss';

.page-works__promo-0 {
  margin: 16px 0 40px;

  @media (min-width: variables.$desktop-width) {
    margin: 24px 0 48px;
  }
}

.page-works__implantation-0 {
  margin: 0 0 40px;

  @media (min-width: variables.$desktop-width) {
    margin: 0 0 48px;
  }
}

.page-works__implantation-1 {
  margin: 0 0 40px;

  @media (min-width: variables.$desktop-width) {
    margin: 0 0 48px;
  }
}

.page-works__implantation-2 {
  margin: 0 0 40px;

  @media (min-width: variables.$desktop-width) {
    margin: 0 0 48px;
  }
}

.page-works__promo-1 {
  margin: 0 0 40px;

  @media (min-width: variables.$desktop-width) {
    margin: 0 0 48px;
  }
}

.page-works__implantation-3 {
  margin: 0 0 40px;

  @media (min-width: variables.$desktop-width) {
    margin: 0 0 48px;
  }
}

.page-works__implantation-4 {
  margin: 0 0 40px;

  @media (min-width: variables.$desktop-width) {
    margin: 0 0 48px;
  }
}

.page-works__video-0 {
  margin: 0 0 40px;

  @media (min-width: variables.$desktop-width) {
    margin: 0 0 48px;
  }
}

.page-works__implantation-5 {
  margin: 0 0 40px;

  @media (min-width: variables.$desktop-width) {
    margin: 0 0 48px;
  }
}

.page-works__implantation-6 {
  margin: 0 0 40px;

  @media (min-width: variables.$desktop-width) {
    margin: 0 0 48px;
  }
}

.page-works__implantation-7 {
  margin: 0 0 40px;

  @media (min-width: variables.$desktop-width) {
    margin: 0 0 48px;
  }
}

.page-works__implantation-8 {
  margin: 0 0 40px;

  @media (min-width: variables.$desktop-width) {
    margin: 0 0 48px;
  }
}

.page-works__implantation-9 {
  margin: 0 0 40px;

  @media (min-width: variables.$desktop-width) {
    margin: 0 0 48px;
  }
}

.page-works__video-1 {
  margin: 0 0 40px;

  @media (min-width: variables.$desktop-width) {
    margin: 0 0 48px;
  }
}

.page-works__implantation-10 {
  margin: 0 0 40px;

  @media (min-width: variables.$desktop-width) {
    margin: 0 0 48px;
  }
}

.page-works__implantation-11 {
  margin: 0 0 40px;

  @media (min-width: variables.$desktop-width) {
    margin: 0 0 48px;
  }
}

.page-works__implantation-12 {
  margin: 0 0 40px;

  @media (min-width: variables.$desktop-width) {
    margin: 0 0 48px;
  }
}

.page-works__video-2 {
  margin: 0 0 40px;

  @media (min-width: variables.$desktop-width) {
    margin: 0 0 48px;
  }
}

.page-doctors__consultation {
  margin: 0 0 40px;

  @media (min-width: variables.$desktop-width) {
    margin: 0 0 48px;
  }
}

.page-doctors__map {
  margin: 0 0 40px;

  @media (min-width: variables.$desktop-width) {
    margin: 0 0 48px;
  }
}
