@use '../common/variables.scss';

.page-about__promo-0 {
  margin: 16px 0 40px;

  @media (min-width: variables.$desktop-width) {
    margin: 24px 0 48px;
  }
}

.page-about__about {
  margin: 0 0 40px;

  @media (min-width: variables.$desktop-width) {
    margin: 0 0 48px;
  }
}

.page-about__photos {
  margin: 0 0 40px;

  @media (min-width: variables.$desktop-width) {
    margin: 0 0 48px;
  }
}

.page-about__video {
  margin: 0 0 40px;

  @media (min-width: variables.$desktop-width) {
    margin: 0 0 48px;
  }
}

.page-about__rating {
  margin: 0 0 40px;

  @media (min-width: variables.$desktop-width) {
    margin: 0 0 48px;
  }
}

.page-about__consultation {
  margin: 0 0 40px;

  @media (min-width: variables.$desktop-width) {
    margin: 0 0 48px;
  }
}

.page-about__licenses {
  margin: 0 0 40px;

  @media (min-width: variables.$desktop-width) {
    margin: 0 0 48px;
  }
}

.page-about__review {
  margin: 0 0 40px;

  @media (min-width: variables.$desktop-width) {
    margin: 0 0 48px;
  }
}

.page-about__promo-1 {
  margin: 0 0 40px;

  @media (min-width: variables.$desktop-width) {
    margin: 0 0 48px;
  }
}

.page-about__promotion {
  margin: 0 0 40px;

  @media (min-width: variables.$desktop-width) {
    margin: 0 0 48px;
  }
}

.page-about__map {
  margin: 0 0 40px;

  @media (min-width: variables.$desktop-width) {
    margin: 0 0 48px;
  }
}
